<div>
    <dl class="labcoat-url-generator">
        <dt>Labcoat Host</dt>
        <dd>
            <span class="protocol"></span>://<input id="labcoatHost" value="" type="text">
            <div class="input-error"></div>
        </dd>

        <dt>Analytics Service</dt>
        <dd>
            <span class="protocol"></span>://<input id="analyticsService" value="" type="text">
            <div class="input-error"></div>
        </dd>

        <dt><label for="basePath">Base Path</label></dt>
        <dd>
            <input id="basePath" type="text">
            <div class="input-error"></div>
        </dd>

        <dt><label for="version">Version</label></dt>
        <dd>
            <input id="version" type="text">
            <div class="input-error"></div>
        </dd>

        <dt><label for="protocol">Protocol</label></dt>
        <dd>
            <select id="protocol">
                <option value="https">HTTPS</option>
                <option value="http">HTTP</option>
            </select>
            <div class="input-error"></div>
        </dd>

        <dt><label for="apiKey">API Key</label></dt>
        <dd>
            <input id="apiKey" value="" type="text">
            <div class="input-error"></div>
        </dd>

        <dt><label for="limit">Limit</label></dt>
        <dd>
            <input id="limit" type="text">
            <div class="input-error"></div>
        </dd>

        <dt>Labcoat Url</dt>
        <dd><a href="" class="labcoatUrl" target="_blank"></a></dd>
    </dl>
</div>